@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

html{
    scroll-behavior: smooth;
}
body{
     margin: 0px;
     padding: 0px;
     font-family: 'Montserrat', sans-serif;
     margin-top: -3%
    }
nav{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #6f6f6f;
  margin-top: 40px;
}
nav h1{
  color: #000000;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
 text-align: justify;
 margin-bottom: 0%;
    
} 

nav .onglets{
  margin-top: 0px;
  margin-left: 300px;
}
nav .onglets a{
  text-decoration: none;
  color: #000;
  margin-right: 80px;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('/image/couverture1-1.jpg');
  background-size: cover;
  
  padding: 30px;
}
header h1{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  
}
header h4{
  margin-top: 0px;
  font-size: 20px;
  text-align: right;
 
  color: rgb(255, 255, 255);
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  padding: 35px 0;
  font-size: 40px;
}
.container-faq {
                max-width: 1100px;
                min-width: 1000px;
                height: auto;
                margin: 10px auto 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
               }

.questions {
  width: 100%;
  padding: 0px;
  height:  auto;
  margin: 10px;
}
.visible-pannel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f1f1f1;
  border-radius: 15px;
  position: relative;
  z-index: 100;
}
.visible-pannel h2 {
  margin-left: 10px;
  padding: 10px 5px;
  font-size: 23px;
}
.visible-pannel img {
  margin-right: 10px;
  width: 20px;
  cursor: pointer;
}

.toggle-pannel {
  padding: 15px 15px;
 
}
.toggle-pannel h4 {
  font-size: 14px;
  padding-bottom: 5px;
}
.toggle-pannel p {
  line-height: 1.5;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    *{margin: 0px;
      padding: 0px;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
      text-decoration: none;
    }
    footer{
      width: 100%;
      margin: 0px;
      padding: 0px;
      bottom: 0;
      left: 10px;
      background: rgb(167, 167, 167);
    }
    footer .content{
      /*max-width: 1350px;*/
      margin: auto;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    footer .content p,a{
      color: rgb(0, 0, 0);
    }
    span{
      width: 33%;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #222222;
    }
    footer .content .box{
      width: 33%;
      transition: all 0.4s ease;
    }
    footer .content .topic{
      font-size: 22px;
      font-weight: 600;
      color: rgb(12, 12, 12);
      margin-bottom: 16px;
    
    }
    footer .content p{
      text-align: justify;
    }
    footer .content .lower .topic{
      margin: 50px 0 5px 0;
    }
    footer .content .lower i{
      padding-right: 16px;
    }
    footer .content .middle{
      padding-left: 80px;
    }
    footer .content .middle a{
      line-height: 32px;
    }
    footer .content .right input[type="text"]{
      height: 45px;
      width: 70%;
      outline: none;
      color: #d9d9d9;
      background: #000;
      border-radius: 5px;
      padding-left: 10px;
      font-size: 17px;
      border: 2px solid #222222;
    }
    footer .content .right input[type="submit"]{
      height: 42px;
      width: 70%;
      font-size: 18px;
      color: #d9d9d9;
      background: #aaaaaa;
      outline: none;
      border-radius: 5px;
      letter-spacing: 1px;
      cursor: pointer;
      margin-top: 12px;
      border: 2px solid #aaaaaa;
      transition: all 0.3s ease-in-out;
    }
    .content .right input[type="submit"]:hover{
      background: none;
      color:  rgb(0, 180, 141);
    }
    footer .content .media-icons a{
      font-size: 16px;
      height: 45px;
      width: 45px;
      display: inline-block;
      text-align: center;
      line-height: 50px;
      border-radius: 5px;
      border: 2px solid #222222;
      margin: 25px 15px 0 0;
      transition: all 0.3s ease;
    }
    .content .media-icons a:hover{
      border-color:rgb(0, 180, 141);
    }
    footer .bottom{
      width: 100%;
      text-align: right;
      color: #d9d9d9;
      padding: 0 40px 5px 0;
    }
    footer .bottom a{
      color: #a0a0a0;
    }
    footer a{
      transition: all 0.3s ease;
    }
    footer a:hover{
      color: rgb(0, 180, 141);
    }
    @media (max-width:1100px) {
      footer .content .middle{
        padding-left: 50px;
      }
    }
    @media (max-width:950px){
      footer .content .box{
        width: 50%;
      }
      .content .right{
        margin-top: 40px;
      }
    }
    @media (max-width:560px){
      footer{
        position: relative;
      }
      footer .content .box{
        width: 100%;
        margin-top: 30px;
      }
      footer .content .middle{
        padding-left: 0;
      }
    }

